# Postgres
PG_HOST=postgres
PG_PORT=5432
PG_DB=nyc_taxi
PG_USER=postgres
PG_PASSWORD=postgres
PG_SCHEMA_RAW=raw
PG_SCHEMA_ANALYTICS=analytics

# Ingesta
YEARS=2015-2025
SERVICES=yellow,green
RUN_ID=dev-local-001

# OBT Builder
OBT_MODE=full         # {full, by-partition}
OBT_YEAR_START=2015
OBT_YEAR_END=2025
OBT_MONTHS=all        # o lista: 1,2,3,...
OBT_OVERWRITE=false   # {true,false}
